.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  border: 2px solid black;
  box-sizing: border-box;
}

.list-items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
